@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  background-color: #111827;
  color: #94a3b8;
  font-family: "Ubuntu", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bright {
  color: #94a3b8;
  text-decoration: underline;
  filter: brightness(1.2);
}

.phil {
  font-size: smaller;
  color: #334155;
  font-style: italic;
  margin-left: 0.5px;
}

.github a{
  text-decoration: none;
  color: #ffffff;

}

.github:hover{
  color: azure;
}


/* xs */
@media (min-width: 475px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* sm */
@media (min-width: 640px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* md */
@media (min-width: 768px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}

/* lg */
@media (min-width: 1024px) {
  body {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* xl */
@media (min-width: 1260px) {
  body {
    padding-left: 35%;
    padding-right: 35%;
  }
}
